main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 400px;

    div.firstTimeHint {
        position: absolute;

        left: 50%;
        bottom: 64px;
        width: 80%;
        max-width: 500px;
        height: auto;

        background: var(--g4-app-background);

        border-radius: 24px;

        transform: translateX(-50%);

        z-index: 100;

        pointer-events: none;

        transition: opacity 0.4s;

        img {
            filter: invert(1);
        }
    }

    div.firstTimeHint.hidden {
        opacity: 0;
    }

    div.game {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        
        background: var(--g4-game-background);
        color: var(--g4-game-foreground);

        &[data-mode=custom] div.stat:not(.level) {
            display: none;
        }

        header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            div.spectating {
                width: 100%;

                text-align: center;

                display: none;

                span.name {
                    color: var(--g4-app-accent);
                }
            }

            div.stat {
                padding: 8px 16px;
                text-align: center;

                p.name {
                    color: var(--g4-game-foreground);

                    font-size: 14pt;
                    font-weight: 500;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;

                    margin: 0px 0px 4px 0px;

                    opacity: 1;
                }

                p.value {
                    color: var(--g4-game-bullet);

                    font-size: 16pt;
                    font-weight: 500;
                    text-align: center;

                    margin: 0;
                }
            }

            div.stat.level {
                p.value {
                    background: var(--g4-game-cannon);
                    color: var(--g4-game-background);

                    font-size: 20pt;
                    font-weight: 500;

                    padding: 0px 20px;
                    border-radius: 20px;

                    opacity: 1;

                    display: inline;
                }
            }
        }

        canvas {
            position: absolute;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);

            &.webGLViewport {
                pointer-events: none;
            }
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            height: 32px;

            padding: 8px 16px;

            display: flex;

            div.progress {
                position: relative;

                background: var(--g4-app-background);

                margin-right: 16px;
                border-radius: 8px;
                overflow: hidden;

                flex-grow: 1;

                p {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    font-size: 12pt;
                    font-weight: 500;
                    text-align: center;

                    margin: 4px;
                }
                
                div {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;

                    background: var(--g4-app-accent);

                    opacity: 0.5;
                }
            }
        }
    }

    div.game.hit {
        --g4-game-background: var(--g4-game-damage);
    }

    div.game.spectated {
        background: var(--g4-app-background);

        header {
            div.spectating {
                display: block;
            }
        }

        footer {
            div.progress {
                margin: 0;
            }

            button {
                display: none;
            }
        }
    }
}

body.left main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 400px;
    right: 0;
}

@media (max-width: 768px) {
    main, body.left main {
        left: 0;
        right: 0;
    }
}

@media (max-width: 500px) {
    main div.game header {
        padding-right: 52px;
    }

    body.left main div.game header {
        padding-left: 52px;
        padding-right: 0;
    }
}