@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("../../res/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("../../res/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("../../res/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("../../res/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    src: url("../../res/fonts/NotoSans-Regular.ttf");
}

@import "colors.scss";

@import "game.scss";
@import "console.scss";
@import "sidebar.scss";

@import "notification.scss";
@import "settings.scss";

@import "electron.scss";

:root {
    --g4-app-typeface: "Poppins", sans-serif;
}

body {
    background: var(--g4-app-background);
    color: var(--g4-game-foreground);

    font-family: var(--g4-app-typeface);

    user-select: none;

    scrollbar-width: thin;
    scrollbar-color: var(--g4-app-scroll-thumb) var(--g4-app-scroll-track);
}

body.login {
    button#openLoginBtn {
        display: none;
    }
}

body:not(.login) {
    div.accountInfo * {
        display: none;
    }
}

button {
    background: var(--g4-app-background);
    color: var(--g4-app-foreground);

    font-family: var(--g4-app-typeface);
    font-weight: 500;
    font-size: 12pt;
    text-transform: uppercase;

    padding: 4px 16px;
    border: none;
    outline: none;
    border-radius: 8px;
}
button:hover {
    box-shadow: inset 0px 0px 0px 2px var(--g4-app-foreground);
}
button:active {
    background: var(--g4-app-foreground);
    color: var(--g4-app-background);
}

a {
    color: var(--g4-app-accent);

    text-decoration: none;

    &:hover {
        background: var(--g4-app-accent);
        color: var(--g4-app-background);
    }
}

body.light {
    div.firstTimeHint img {
        filter: invert(0);
    }

    button.daynight {
        div:before {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 22px;
            height: 22px;

            background: var(--g4-app-foreground);

            border-radius: 0px;

            transform: translate(-50%, -50%);

            z-index: -1;
        }

        div:after {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 22px;
            height: 22px;

            background: var(--g4-app-foreground);

            border-radius: 0px;

            transform: translate(-50%, -50%) rotate(45deg);

            z-index: -1;
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--g4-app-scroll-track);

    border-radius: 6px;

    box-shadow: inset 0px 0px 0px 3px var(--g4-app-background);
}

::-webkit-scrollbar-thumb {
    background: var(--g4-app-scroll-thumb);

    border-radius: 6px;

    box-shadow: inset 0px 0px 0px 3px var(--g4-app-background);
}

div.loadingScreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: var(--g4-app-background);
    color: var(--g4-app-foreground);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 2000;

    transition: opacity 0.3s;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    &.loading {
        img {
            filter: grayscale(1);
        }

        div.progressBar {
            display: block;
        }

        button {
            display: none;
        }
    }

    img {
        width: 256px;
        height: auto;

        transition: filter 0.4s;
    }

    & > div {
        height: 40px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        div.progressBar {
            width: 200px;
            height: 2px;

            background: var(--g4-app-header-background);

            display: none;

            div {
                height: 2px;

                background: var(--g4-app-accent);
            }
        }

        button {
            padding: 8px 24px;
        }
    }
}