@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --g4-app-background: #000000;
    --g4-app-foreground: #d1d1d1;
    --g4-app-header-background: #0f0f0f;
    --g4-app-accent: #ff523b;
    --g4-app-scroll-track: #111111;
    --g4-app-scroll-thumb: rgb(77, 77, 77);
}

[data-mode=easy] {
    --g4-game-background: #070f0e;
    --g4-game-damage: #0c0f07;
    --g4-game-foreground: #4c7d45;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: var(--g4-game-foreground);
    --g4-game-bullet: #e5ff00;
}

body.light [data-mode=easy] {
    --g4-game-background: #e0f3f1;
    --g4-game-damage: #ffe4ee;
    --g4-game-foreground: #25691c;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: var(--g4-game-foreground);
    --g4-game-bullet: #07a6ce;
}

[data-mode=normal] {
    --g4-game-background: #1c1b1a;
    --g4-game-damage: #2b1616;
    --g4-game-foreground: #dbb986;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: var(--g4-game-obstacle1);
    --g4-game-bullet: #ff523b;
}

body.light [data-mode=normal] {
    --g4-game-background: #f1ece7;
    --g4-game-damage: #ffe4ee;
    --g4-game-foreground: #8b3716;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: var(--g4-game-obstacle1);
    --g4-game-bullet: #ff893b;
}

[data-mode=hard] {
    --g4-game-background: #151523;
    --g4-game-damage: #271620;
    --g4-game-foreground: #9bd1ba;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: var(--g4-game-obstacle1);
    --g4-game-bullet: #ffcb3b;
}

body.light [data-mode=hard] {
    --g4-game-background: #efeffa;
    --g4-game-damage: #ffe4ee;
    --g4-game-foreground: #466281;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: var(--g4-game-obstacle1);
    --g4-game-bullet: #d36307;
}

[data-mode=hell] {
    --g4-game-background: #200c0c;
    --g4-game-damage: #000000;
    --g4-game-foreground: #e20000;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: var(--g4-game-obstacle1);
    --g4-game-bullet: #ffa600;
}

body.light [data-mode=hell] {
    --g4-game-background: #ff2323;
    --g4-game-damage: #a10000;
    --g4-game-foreground: #000000;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: var(--g4-game-obstacle1);
    --g4-game-bullet: #f1ff34;
}

[data-mode=hades] {
    --g4-game-background: #000000;
    --g4-game-damage: #0e0909;
    --g4-game-foreground: #302f35;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: #fff;
    --g4-game-bullet: #227892;
}

body.light [data-mode=hades] {
    --g4-game-background: #ffffff;
    --g4-game-damage: #fae2e2;
    --g4-game-foreground: #7b788a;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: rgb(17, 85, 233);
    --g4-game-bullet: #1c1f20;
}

[data-mode=denise] {
    --g4-game-background: #1e1e1e;
    --g4-game-damage: #292425;
    --g4-game-foreground: #929292;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: #67d387;
    --g4-game-cannon: var(--g4-game-obstacle1);
    --g4-game-bullet: #67d387;
}

body.light [data-mode=denise] {
    --g4-game-background: #dadada;
    --g4-game-damage: #ecc7c7;
    --g4-game-foreground: #414141;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: #1c923f;
    --g4-game-cannon: var(--g4-game-obstacle1);
    --g4-game-bullet: #1c923f;
}

[data-mode=reverse] {
    --g4-game-background: #231935;
    --g4-game-damage: #250e27;
    --g4-game-foreground: #d37cdf;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: #c2fc22;
    --g4-game-bullet: #552eff;
}

body.light [data-mode=reverse] {
    --g4-game-background: #d8caeb;
    --g4-game-damage: #e6c3db;
    --g4-game-foreground: #231935;
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: var(--g4-game-foreground);
    --g4-game-cannon: #1e0b8b;
    --g4-game-bullet: #552eff;
}

[data-mode=nox] {
    --g4-game-background: #000;
    --g4-game-damage: rgb(22, 10, 18);
    --g4-game-foreground: rgb(65, 209, 84);
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: rgb(52, 66, 199);
    --g4-game-cannon: #fff;
    --g4-game-bullet: rgb(255, 0, 85);
}

body.light [data-mode=nox] {
    --g4-game-background: #fff;
    --g4-game-damage: rgb(255, 225, 235);
    --g4-game-foreground: rgb(35, 202, 20);
    --g4-game-obstacle1: var(--g4-game-foreground);
    --g4-game-obstacle2: rgb(35, 68, 211);
    --g4-game-cannon: rgb(0, 0, 0);
    --g4-game-bullet: rgb(255, 0, 85);
}

body {
    background: var(--g4-app-background);
    color: var(--g4-game-foreground);

    font-family: Poppins;
}

body.light {
    --g4-app-background: #ffffff;
    --g4-app-foreground: #000000;
    --g4-app-header-background: #ebebeb;
    --g4-app-accent: #e63b24;
    --g4-app-scroll-track: #f1f1f1;
    --g4-app-scroll-thumb: rgb(148, 148, 148);
}

body.login {
    div.accountInfo {
        display: flex;
    }

    button#openLoginBtn {
        display: none;
    }
}

main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 400px;

    display: grid;
    gap: 4px;

    div.firstTimeHint {
        position: absolute;

        left: 50%;
        bottom: 64px;
        width: 80%;
        max-width: 500px;
        height: auto;

        background: var(--g4-app-background);

        border-radius: 24px;

        transform: translateX(-50%);

        z-index: 100;

        pointer-events: none;

        transition: opacity 0.4s;

        img {
            filter: invert(1);
        }
    }

    div.firstTimeHint.hidden {
        opacity: 0;
    }

    div.game {
        position: relative;
        
        background: var(--g4-game-background);
        color: var(--g4-game-foreground);

        header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            div.spectating {
                width: 100%;

                text-align: center;

                display: none;

                span.name {
                    color: var(--g4-app-accent);
                }
            }

            div.stat {
                padding: 8px 16px;
                text-align: center;

                p.name {
                    color: var(--g4-game-foreground);

                    font-size: 14pt;
                    font-weight: 500;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;

                    margin: 0px 0px 4px 0px;

                    opacity: 1;
                }

                p.value {
                    color: var(--g4-game-bullet);

                    font-size: 16pt;
                    font-weight: 500;
                    text-align: center;
                    text-transform: uppercase;

                    margin: 0;
                }
            }

            div.stat.level {
                p.value {
                    background: var(--g4-game-cannon);
                    color: var(--g4-game-background);

                    font-size: 20pt;
                    font-weight: 500;

                    padding: 0px 20px;
                    border-radius: 20px;

                    opacity: 1;

                    display: inline;
                }
            }
        }

        canvas {
            position: absolute;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            height: 32px;

            padding: 8px 16px;

            display: flex;

            div.progress {
                position: relative;

                background: var(--g4-app-background);

                margin-right: 16px;

                flex-grow: 1;

                p {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    font-size: 12pt;
                    font-weight: 500;
                    text-align: center;

                    margin: 4px;
                }
                
                div {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;

                    background: var(--g4-app-accent);

                    opacity: 0.5;
                }
            }
        }
    }

    div.game.hit {
        --g4-game-background: var(--g4-game-damage);
    }

    div.game.spectated {
        background: var(--g4-app-background);

        header {
            div.spectating {
                display: block;
            }
        }

        footer {
            div.progress {
                margin: 0;
            }

            button {
                display: none;
            }
        }
    }
}

main.single {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

main.two {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

main.four {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

main.six {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

button {
    background: var(--g4-app-background);
    color: var(--g4-app-foreground);

    font-family: Poppins;
    font-weight: 500;
    font-size: 12pt;
    text-transform: uppercase;

    padding: 4px 16px;
    border: none;
    border-radius: 8px;
}
button:hover {
    box-shadow: inset 0px 0px 0px 4px var(--g4-app-foreground);
}
button:active {
    background: var(--g4-app-foreground);
    color: var(--g4-app-background);
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;

    background: var(--g4-app-background);
    color: var(--g4-app-foreground);
    
    box-shadow: 0px 0px 16px #00000020;
    display: flex;
    flex-direction: column;

    transition: right 0.2s;

    header {
        display: flex;
        flex-wrap: wrap;

        svg#g4logo {
            height: 32px;
            width: auto;

            margin: 8px 16px;
        }

        button#musicToggleBtn:after {
            content: ": OFF";
        }

        button#musicToggleBtn.playing:after {
            content: ": ON";
        }

        button.expander {
            display: none;

            div {
                position: relative;
                width: 20px;
                height: 2px;
                
                background: transparent;
            }

            div:before {
                position: absolute;
                left: 50%;
                top: calc(50% - 4.5px);
                width: 14px;
                height: 2px;
                
                background: var(--g4-app-foreground);
                content: "";

                transform: translate(-50%, -50%) rotate(45deg);
            }

            div:after {
                position: absolute;
                left: 50%;
                top: calc(50% + 4.5px);
                width: 14px;
                height: 2px;
                
                background: var(--g4-app-foreground);
                content: "";

                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
        button:active div {
            --g4-app-foreground: var(--g4-app-background);
        }

        button.daynight {
            background: transparent;

            div {
                position: relative;
                width: 20px;
                height: 20px;
                
                background: var(--g4-app-foreground);

                border: 2px solid var(--g4-app-background);
                border-radius: 12px;
            }

            div:before {
                position: absolute;
                left: 100%;
                top: 50%;
                width: 20px;
                height: 20px;

                background: var(--g4-app-background);
                content: "";

                border-radius: 10px;

                transform: translate(-50%, -50%);

                z-index: 1;
            }

            div:after {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 20px;
                height: 20px;

                background: var(--g4-app-foreground);
                content: "";

                border-radius: 10px;

                transform: translate(-50%, -50%) rotate(45deg);

                z-index: -1;
            }
        }

        button.daynight:active {
            background: var(--g4-app-foreground);

            div {
                background: var(--g4-app-background);

                border: 2px solid var(--g4-app-foreground);
            }

            div:before, div:after {
                display: none;
            }
        }

        div.accountInfo {
            width: 100%;

            display: none;

            p {            
                font-weight: 400;
                font-size: 15pt;
    
                padding: 8px 16px;
                margin: 0px;

                flex-grow: 1;
            }
        }
    }

    svg {
        fill: var(--g4-app-accent);
    }

    div.scroller {
        padding: 8px 8px;
        border-radius: 24px;

        flex-grow: 1;
        overflow: auto;
    }

    section {
        background: var(--g4-app-header-background);

        padding-bottom: 16px;
        margin-bottom: 8px;
        border-radius: 24px;

        overflow: hidden;

        display: flex;
        flex-direction: column;
        
        header {            
            font-weight: 500;
            font-size: 15pt;

            padding: 8px 16px;

            display: flex;
            justify-content: space-between;
        }

        content {
            flex-grow: 1;
        }
    }

    section.gameMode {
        content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            button.mode {
                background: transparent;
                color: var(--g4-app-foreground);

                padding: 4px 8px;
                border: none;
                
                flex-grow: 1;

                p {
                    margin: 0px;

                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 12pt;
                    text-transform: uppercase;
                }
            }
            button.mode:hover {
                box-shadow: inset 0px 0px 0px 4px var(--g4-app-foreground);
            }
            button.mode.active {
                background: var(--g4-app-foreground);
                color: var(--g4-app-background);
            }

            button[data-mode=reverse] p {
                transform: scaleX(-1);
            }
        }
    }

    section.spectating {
        content {
            div.player {
                position: relative;

                padding: 8px 16px;

                display: flex;
                flex-wrap: wrap;

                p {
                    margin: 0px;
                }

                p.name {
                    width: 100%;

                    font-size: 14pt;
                }

                p.level {
                    margin-right: 16px;
                }

                button {
                    position: absolute;
                    top: 8px;
                    right: 16px;
                }
            }

            div.player.me {
                p.name:after {
                    color: var(--g4-app-accent);

                    content: "You";

                    font-size: 11pt;
                    text-transform: uppercase;

                    padding: 2px 8px;
                }
            }

            div.player.robot {
                p.name:after {
                    color: var(--g4-app-accent);

                    content: "AI";

                    font-size: 11pt;
                    text-transform: uppercase;

                    padding: 2px 8px;
                }
            }
        }
    }

    section.leaderboard {
        content {
            table {
                width: 100%;

                border-spacing: 0px;

                th {
                    font-weight: 500;
                }

                tr {
                    td:first-child {
                        width: 15%;
    
                        text-align: center;
                    }
    
                    td:last-child {
                        width: 25%;
    
                        text-align: center;
                    }
                }

                tbody tr:hover {
                    background: var(--g4-app-foreground);
                    color: var(--g4-app-background);

                    cursor: pointer;
                }

                tr.me {
                    background: var(--g4-app-accent);
                    color: var(--g4-app-background);
                }
            }
        }
    }

    section.pwaInstall {
        content {
            padding: 8px 16px;
        }
    }

    section.hidden {
        display: none;
    }

    footer {
        height: 33px;
        max-height: 33px;
        min-height: 33px;

        padding: 4px 16px;

        a {
            color: var(--g4-app-accent);

            text-decoration: none;
        }
    }
}

body.light {
    div.firstTimeHint img {
        filter: invert(0);
    }

    button.daynight {
        div:before {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 22px;
            height: 22px;

            background: var(--g4-app-foreground);

            border-radius: 0px;

            transform: translate(-50%, -50%);

            z-index: -1;
        }

        div:after {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 22px;
            height: 22px;

            background: var(--g4-app-foreground);

            border-radius: 0px;

            transform: translate(-50%, -50%) rotate(45deg);

            z-index: -1;
        }
    }
}

dialog {
    position: fixed;
    top: 0;
    right: -500px;
    left: unset;
    width: 100%;
    max-width: 400px;
    height: 100%;

    background: var(--g4-app-header-background);
    color: var(--g4-app-foreground);

    margin: 0px;
    padding: 0px;
    border: none;

    display: flex;
    flex-direction: column;

    transition: right 0.2s;
}

dialog.open {
    right: 0;

    header {
        top: 0;
        
        font-weight: 500;
        font-size: 15pt;

        padding: 8px 16px;

        display: flex;
        align-items: center;

        button {
            margin-right: 16px;
        }
    }

    content {
        background: var(--g4-app-background);

        padding: 16px;
        border-radius: 24px 0px 0px 0px;

        flex-grow: 1;
        overflow: auto;

        h2 {
            font-size: 16pt;
            font-weight: 400;

            margin: 0px 0px 32px 0px;
        }

        p.error {
            color: var(--g4-app-accent);

            display: none;
        }

        p.error.visible {
            display: block;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin: 8px 0px 0px 0px;
            }

            input {
                background: transparent;
                color: var(--g4-app-foreground);

                font-family: "Poppins", sans-serif;
                font-size: 12pt;
                
                padding: 4px 8px;

                border: 1px solid var(--g4-app-accent);
            }
        }

        div.buttons {
            height: 40px;

            margin-top: 16px;

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            button.primary {
                color: var(--g4-app-accent);
            }
        }
    }
}

dialog#playerStats {
    content {
        padding: 8px;

        h2 {
            font-size: 16pt;
            font-weight: 400;

            margin: 8px 8px 40px 8px;
        }

        div.highScore {
            background: var(--g4-game-background);
            color: var(--g4-game-cannon);
            
            padding: 8px 16px;
            margin-bottom: 8px;
            border-radius: 24px;

            box-shadow: inset 0px 0px 0px 1px var(--g4-game-foreground);

            p {
                font-size: 14pt;

                margin: 0px;
            }

            table {
                width: 100%;

                border-spacing: 0px;

                th {
                    font-weight: 400;
                    text-align: left;
                }

                td {
                    font-weight: 500;
                    font-size: 13pt;
                }
            }
        }
    }
}

div.titleBar {
    display: none;
}

body.electron {
    div.titleBar {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        height: 40px;

        display: flex;
        z-index: 9000;

        -webkit-app-region: drag;

        div.title {
            color: var(--g4-app-foreground);

            display: flex;
            flex-grow: 1;
            align-items: center;

            p {
                margin: 0px 16px;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        div.buttons {
            min-width: 144px;
            
            display: flex;
            justify-content: flex-end;

            button {
                background: transparent;

                display: flex;
                justify-content: center;
                align-items: center;

                -webkit-app-region: no-drag;

                svg {
                    width: 16px;
                    height: 16px;

                    fill: var(--g4-app-foreground);
                }
            }

            button:active {
                background: var(--g4-app-foreground);

                svg {
                    fill: var(--g4-app-background);
                }
            }
        }
    }

    main div.game {
        header {
            top: 40px;
        }
        
        canvas {
            top: calc(50% + 40px);
        }
    }

    aside, dialog {
        padding-top: 40px;
    }
}

body:not(.maximized) {
    button#restoreBtn {
        display: none;
    }
}

body.maximized {
    button#maximizeBtn {
        display: none;
    }
}

@media (max-width: 768px) {
    body.electron {
        aside:not(.expanded) button.expander {
            top: 40px;
        }
    }

    main {
        right: 0;
    }

    aside {
        width: 100%;
        max-width: 400px;

        button.expander {
            display: block !important;
        }
    }

    aside:not(.expanded) {
        right: -100%;

        button.expander {
            position: fixed;
            top: 0;
            right: 0;
            height: 48px;

            div {
                position: relative;
                width: 20px;
                height: 2px;
                
                background: var(--g4-app-foreground);
            }

            div:before {
                position: absolute;
                left: 50%;
                top: -6px;
                width: 20px;
                height: 2px;
                
                background: var(--g4-app-foreground);
                content: "";

                transform: translate(-50%, -50%);
            }

            div:after {
                position: absolute;
                left: 50%;
                top: 8px;
                width: 20px;
                height: 2px;
                
                background: var(--g4-app-foreground);
                content: "";

                transform: translate(-50%, -50%);
            }
        }
    }
}

@media (max-width: 500px) {
    main div.game header {
        padding-right: 52px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--g4-app-scroll-track);

    border-radius: 6px;

    box-shadow: inset 0px 0px 0px 3px var(--g4-app-background);
}

::-webkit-scrollbar-thumb {
    background: var(--g4-app-scroll-thumb);

    border-radius: 6px;

    box-shadow: inset 0px 0px 0px 3px var(--g4-app-background);
}