div.notifications {
    section.notification {
        header {
            justify-content: flex-start;
            align-items: center;
    
            img {
                width: 20px;
                height: 20px;
            }
    
            p {
                font-size: 11pt;
    
                margin: 0px 0px 0px 12px;
    
                flex-grow: 1;
            }
        }
    
        div.content {
            padding: 0px 16px;
    
            p {
                margin: 0px 0px 4px 0px;
            }
        }
        
        &:not(:nth-child(-n + 3)) {
            display: none;
        }
    }
}
