dialog.settings {
    h2, h3 {
        margin-bottom: 0px !important;
    }

    h2:not(:first-child) {
        margin-top: 32px;
    }
}

div.sectionLink, div.bigButton {
    padding: 8px 16px;
    border-radius: 8px;

    display: flex;
    align-items: center;

    &:hover {
        background: var(--g4-app-header-background);
    }

    &:active {
        background: var(--g4-app-foreground);
        color: var(--g4-app-background);

        svg {
            fill: var(--g4-app-background);
        }
    }

    svg {
        width: 32px;
        height: 32px;

        fill: var(--g4-app-foreground);
    }

    div.info {
        padding-left: 16px;

        p {
            font-size: 11pt;
            margin: 0px;
            
            &.name {
                font-size: 12pt;
                font-weight: 600;
            }
        }
    }
}

div.setting {
    padding: 4px 0px;

    display: flex;
    align-items: center;

    &.disabled {
        opacity: 0.5;

        pointer-events: none;
    }

    label {
        position: relative;

        font-size: 13pt;

        flex-grow: 1;
    }

    input[type=number] {
        width: 64px;

        background: transparent;
        color: var(--g4-app-foreground);

        font-family: var(--g4-app-typeface);
        font-size: 14pt;
        
        padding: 4px 8px;

        border: 1px solid var(--g4-app-accent);
    }

    input[type=checkbox] {
        position: absolute;
        opacity: 0;

        pointer-events: none;

        & + label:before {
            position: absolute;
            right: 0;
            top: 50%;
            width: 36px;
            height: 24px;
    
            background: var(--g4-app-foreground);
            content: "";
    
            border-radius: 12px;

            transform: translateY(-50%);

            transition: all 0.2s;
        }

        & + label:after {
            position: absolute;
            right: 14px;
            top: 50%;
            width: 20px;
            height: 20px;
    
            background: var(--g4-app-background);
            content: "";
    
            border-radius: 10px;

            transform: translateY(-50%);

            transition: background 0.2s, right 0.2s;
        }

        &:checked + label:before {
            background: var(--g4-app-accent);
        }

        &:checked + label:after {
            right: 2px;
    
            background: var(--g4-app-background);
        }

        & + label.loading {
            opacity: 0.8;

            pointer-events: none;

            @keyframes LabelThrobber {
                0% {
                    transform: translateY(-50%);
                }
                100% {
                    transform: translateY(-50%) rotate(360deg);
                }
            }

            &:before {
                width: 18px;
                height: 18px;

                background: transparent;

                border: 3px solid transparent;
                border-right: 3px solid var(--g4-app-accent);

                animation: LabelThrobber 0.7s infinite linear;
            }

            &:after {
                opacity: 0;
            }
        }
    }

    button.keyboardInput, button.gamepadInput {
        width: 180px;

        text-transform: none;

        &.waiting {
            color: var(--g4-app-accent);
        }
    }
}

div.themeList {
    div.theme {
        background: var(--g4-app-header-background);
        color: var(--g4-app-foreground);

        padding: 0px;
        margin-top: 8px;
        border-radius: 24px;

        & > div {
            padding: 0px 16px 16px 16px;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
        }

        svg {
            width: calc(100% - 4px);
            height: auto;
            
            margin: 2px 2px 0px 2px;
            border-radius: 22px 22px 0px 0px;

            .st0 {
                fill: var(--g4-theme-game-normal-background);
            }

            .st1 {
                fill: var(--g4-theme-app-background);
            }

            .st2 {
                fill: var(--g4-theme-game-normal-obstacle1);
            }

            .st3 {
                fill: var(--g4-theme-app-headerBackground);
            }

            .st4 {
                fill: var(--g4-theme-app-foreground);
            }

            .st5 {
                fill: var(--g4-theme-app-accent);
            }
        }

        p {
            width: 100%;

            font-size: 14pt;
            margin: 0px;
            flex-grow: 1;
        }
        
        &.current p:after {
            content: " current";

            font-size: 11pt;
        }

        button {
            background: var(--g4-app-background);

            margin-left: 8px;
        }

        button:active {
            background: var(--g4-app-foreground);
            color: var(--g4-app-background);
        }

        &:hover {
            box-shadow: inset 0px 0px 0px 2px var(--g4-app-accent);
        }

        &.current {
            box-shadow: inset 0px 0px 0px 2px var(--g4-app-foreground);
        }
    }
}

dialog#themeEditor {
    canvas {
        border-radius: 8px;
    }
    
    input[type=text] {
        width: calc(100% - 16px);

        background: transparent;
        color: var(--g4-app-foreground);

        font-family: var(--g4-app-typeface);
        font-size: 14pt;
        
        padding: 4px 8px;

        border: 1px solid var(--g4-app-accent);
    }

    div.colors {
        h2 {
            margin-top: 16px;
            margin-bottom: 4px;
        }

        div.colors {
            h2 {
                font-size: 14pt;
            }

            div.colors {
                h2 {
                    font-size: 13pt;
                    font-weight: 600;
                }
            }
        }

        div.color {
            padding: 4px 0px;

            display: flex;
            align-items: center;

            label {
                position: relative;
        
                font-size: 13pt;
        
                flex-grow: 1;
            }
        }
    }
}

div.pluginList {
    div.plugin {
        background: var(--g4-app-header-background);

        margin-top: 8px;
        border-radius: 16px;

        p.description {
            font-size: 11pt;

            margin: 0px 16px;
        }

        p.running {
            color: var(--g4-app-accent);

            font-size: 11pt;
            font-weight: 600;

            margin: 0px 0px 0px 16px;
        }

        div.toggle {
            position: relative;

            padding: 16px 16px 8px 16px;

            display: flex;
            
            label {
                display: flex;
                align-items: center;
                flex-grow: 1;

                img {
                    width: 48px;
                    height: 48px;
                }

                p {
                    font-size: 13pt;
                    font-weight: 600;

                    margin: 0px 0px 0px 12px;
                }
            }

            input[type=checkbox] {
                position: absolute;
                opacity: 0;
        
                pointer-events: none;
        
                & + label:before {
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    width: 36px;
                    height: 24px;
            
                    background: var(--g4-app-foreground);
                    content: "";
            
                    border-radius: 12px;
        
                    transform: translateY(-50%);
        
                    transition: all 0.2s;
                }
        
                & + label:after {
                    position: absolute;
                    right: 30px;
                    top: 50%;
                    width: 20px;
                    height: 20px;
            
                    background: var(--g4-app-background);
                    content: "";
            
                    border-radius: 10px;
        
                    transform: translateY(-50%);
        
                    transition: background 0.2s, right 0.2s;
                }
        
                &:checked + label:before {
                    background: var(--g4-app-accent);
                }
        
                &:checked + label:after {
                    right: 18px;
            
                    background: var(--g4-app-background);
                }
            }
        }

        div.buttons {
            padding: 0px 16px 16px 16px;

            display: flex;

            button {
                background: var(--g4-app-background);
            }

            button:active {
                background: var(--g4-app-foreground);
                color: var(--g4-app-background);
            }
        }
    }
}