dialog#settings h2 {
    margin-bottom: 0px;
}

dialog#settings h2:not(:first-child) {
    margin-top: 32px;
}

div.setting {
    display: flex;
    align-items: center;

    label {
        position: relative;

        font-size: 13pt;

        flex-grow: 1;
    }

    input[type=checkbox] {
        position: absolute;
        opacity: 0;

        & + label:before {
            position: absolute;
            right: 0;
            top: 50%;
            width: 32px;
            height: 24px;
    
            background: var(--g4-app-foreground);
            content: "";
    
            border-radius: 12px;

            transform: translateY(-50%);

            transition: background 0.2s;
        }

        & + label:after {
            position: absolute;
            right: 10px;
            top: 50%;
            width: 20px;
            height: 20px;
    
            background: var(--g4-app-background);
            content: "";
    
            border-radius: 10px;

            transform: translateY(-50%);

            transition: background 0.2s, right 0.2s;
        }

        &:checked + label:before {
            background: var(--g4-app-accent);
        }

        &:checked + label:after {
            right: 2px;
    
            background: var(--g4-app-background);
        }
    }
}

div.themeList {
    div.theme {
        background: var(--g4-app-header-background);
        color: var(--g4-app-foreground);

        padding: 8px 16px;
        margin-bottom: 8px;
        border-radius: 24px;

        display: flex;
        align-items: center;

        p {
            font-size: 14pt;
            margin: 0px 16px 0px 0px;
            flex-grow: 1;
        }
        
        &.current p:after {
            content: " current";

            font-size: 11pt;
        }
    }
}