aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;

    background: var(--g4-app-background);
    color: var(--g4-app-foreground);
    
    box-shadow: 0px 0px 16px #00000020;
    display: flex;
    flex-direction: column;

    transition: right 0.2s;

    & > header {        
        min-height: 33px;
    }

    header {
        display: flex;

        div.content {
            display: flex;
            flex-grow: 1;
        }

        svg#g4logo {
            height: 32px;
            width: auto;

            margin: 8px 16px;
        }

        button.expander {
            display: none;

            &:not(:active) {                
                background: transparent;
            }

            div {
                position: relative;
                width: 20px;
                height: 2px;
                
                background: transparent;
            }

            div:before {
                position: absolute;
                left: 50%;
                top: calc(50% - 4.5px);
                width: 14px;
                height: 2px;
                
                background: var(--g4-app-foreground);
                content: "";

                transform: translate(-50%, -50%) rotate(45deg);
            }

            div:after {
                position: absolute;
                left: 50%;
                top: calc(50% + 4.5px);
                width: 14px;
                height: 2px;
                
                background: var(--g4-app-foreground);
                content: "";

                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
        button:active div {
            --g4-app-foreground: var(--g4-app-background);
        }

        div.accountInfo {
            display: flex;
            align-items: center;
            flex-grow: 1;

            p {            
                font-weight: 500;
                font-size: 12pt;
    
                padding: 0px 16px;
                margin: 0px;

                flex-grow: 1;
            }
        }
    }

    svg {
        fill: var(--g4-app-accent);
    }

    div.scroller {
        padding: 8px 8px;
        border-radius: 24px;

        flex-grow: 1;
        overflow: auto;
    }

    section {
        background: var(--g4-app-header-background);

        padding-bottom: 16px;
        margin-bottom: 8px;
        border-radius: 24px;

        overflow: hidden;

        display: flex;
        flex-direction: column;

        &.collapsed {
            div.content {
                display: none;
            }
        }

        header {            
            font-weight: 500;
            font-size: 15pt;

            padding: 8px 16px;

            display: flex;
            justify-content: space-between;
        }

        div.content {
            flex-grow: 1;
        }
    }

    section.gameMode {
        background: transparent;

        padding: 0px;
        border-radius: 0px;

        div.content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            header {
                font-size: 11pt;
                font-weight: 400;
                text-transform: uppercase;                

                display: flex;
                justify-content: center;
                grid-column: 1/5;

                opacity: 0.8;
            }

            button.mode {
                background: transparent;
                color: var(--g4-app-foreground);

                padding: 4px 8px;
                border: none;
                
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
            button.mode:hover {
                box-shadow: inset 0px 0px 0px 2px var(--g4-game-foreground);
            }
            button.mode.active {
                background: var(--g4-game-foreground);
                color: var(--g4-game-background);
            }

            button[data-mode=reverse] p {
                transform: scaleX(-1);
            }
        }
    }

    section.spectating {
        div.content {
            div.player {
                position: relative;

                padding: 8px 16px;

                display: flex;
                flex-wrap: wrap;

                p {
                    margin: 0px;
                }

                p.name {
                    width: 100%;

                    font-size: 14pt;
                }

                p.level {
                    margin-right: 16px;
                }

                button {
                    position: absolute;
                    top: 8px;
                    right: 16px;
                }
            }

            div.player.me {
                p.name:after {
                    color: var(--g4-app-accent);

                    content: "You";

                    font-size: 11pt;
                    text-transform: uppercase;

                    padding: 2px 8px;
                }
            }

            div.player.robot {
                p.name:after {
                    color: var(--g4-app-accent);

                    content: "AI";

                    font-size: 11pt;
                    text-transform: uppercase;

                    padding: 2px 8px;
                }
            }
        }
    }

    section.leaderboard {
        div.content {
            table {
                width: 100%;

                border-spacing: 0px;

                th {
                    font-weight: 500;
                }

                tr {
                    font-family: "Noto Sans";
                    
                    td:first-child {
                        width: 15%;
    
                        text-align: center;
                    }
    
                    td:last-child {
                        width: 25%;
    
                        text-align: center;
                    }

                    td.player {
                        display: flex;
                        align-items: center;
                        overflow: hidden;

                        span.verified {
                            background: var(--g4-app-accent);
                            color: var(--g4-app-background);
                            content: "Verified Legit™";

                            font-family: "Poppins";
                            font-weight: 600;
                            font-size: 80%;

                            margin-left: 4px;
                            padding: 0px;
                            border-radius: 2px;
                        }

                        span.teamg4 {
                            color: var(--g4-app-accent);

                            font-family: "Poppins";
                            font-weight: 500;
                            font-size: 80%;

                            margin-left: 4px;
                        }

                        span.teamgt {
                            color: #0f0;

                            font-family: "Poppins";
                            font-weight: 500;
                            font-size: 80%;

                            margin-left: 4px;
                        }

                        span svg {
                            width: 20px;
                            height: auto;

                            margin-left: 4px;
                        }
                    }
                }

                tbody tr:hover {
                    background: var(--g4-app-foreground);
                    color: var(--g4-app-background);

                    cursor: pointer;
                }

                tr.me {
                    background: var(--g4-app-accent);
                    color: var(--g4-app-background);
                }
            }
        }
    }

    section.pwaInstall {
        div.content {
            padding: 8px 16px;
        }
    }

    section.hidden {
        display: none;
    }

    div.assetProgress {
        position: relative;
        height: 32px;
        min-height: 32px;

        padding: 0px 8px;

        display: flex;
        align-items: center;

        &.hidden {
            display: none;
        }

        img {
            width: 16px;
            height: 16px;

            margin-right: 8px;
        }

        div.bar {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;

            background: var(--g4-app-accent);
        }
    }

    footer {
        height: 24px;
        min-height: 24px;

        display: flex;
        justify-content: flex-end;

        div.statusItem {
            min-width: 50px;
            padding: 0px 8px;

            display: flex;
            align-items: center;

            svg {
                width: 16px;
                height: 16px;

                margin-right: 8px;

                fill: var(--g4-app-foreground);
            }

            &:hover {
                background: var(--g4-app-accent);
                color: var(--g4-app-background);

                svg {
                    fill: var(--g4-app-background);
                }
            }
        }
    }
}

div.dialogContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    bottom: 0;

    pointer-events: none;
    overflow: hidden;
}

dialog {
    position: absolute;
    top: 0;
    left: 432px;
    width: 100%;
    height: 100%;

    background: var(--g4-app-header-background);
    color: var(--g4-app-foreground);

    margin: 0px;
    padding: 0px;
    border: none;
    
    box-shadow: 0px 0px 16px #00000050;
    display: flex;
    flex-direction: column;

    transition: left 0.2s;

    pointer-events: all;

    header {
        top: 0;
        min-height: 33px;
        
        font-weight: 500;
        font-size: 15pt;

        padding: 8px 16px;

        display: flex;
        align-items: center;

        button {
            margin-right: 16px;
        }
    }

    div.content {
        background: var(--g4-app-background);

        padding: 16px;
        border-radius: 24px 0px 0px 0px;

        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;

        button {
            background: var(--g4-app-header-background);
        }

        button:active {
            background: var(--g4-app-foreground);
        }

        h2 {
            font-size: 16pt;
            font-weight: 400;

            margin: 0px 0px 32px 0px;

            em {
                color: var(--g4-app-accent);

                font-size: 20pt;
                font-style: normal;
            }
        }

        p.error {
            color: var(--g4-app-accent);

            display: none;
        }

        p.error.visible {
            display: block;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin: 8px 0px 0px 0px;
            }

            input {
                background: transparent;
                color: var(--g4-app-foreground);

                font-family: var(--g4-app-typeface);
                font-size: 12pt;
                
                padding: 4px 8px;

                border: 1px solid var(--g4-app-accent);
            }
        }

        div.buttons {
            height: 40px;

            margin-top: 16px;

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            button.primary {
                color: var(--g4-app-accent);
            }
        }
    }
}

dialog.open {
    left: 0;
}

dialog#playerStats {
    div.content {
        padding: 8px;

        h1 {
            font-size: 18pt;
            font-weight: 600;
            text-align: center;

            margin: 8px;
        }

        h2 {
            font-size: 16pt;
            font-weight: 400;

            margin: 16px 8px 8px 8px;
        }

        div.badges {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            div.badge {
                background: var(--g4-app-foreground);
                color: var(--g4-app-background);
                
                font-size: 11pt;
                font-weight: 500;

                padding: 1px 8px;
                margin: 0px 4px;
                border-radius: 2px;

                &.teamg4 {
                    background: var(--g4-app-accent);
                    color: var(--g4-app-background);
                }

                &.teamgt {
                    background: #0f0;
                    color: #000;
                }
            }
        }

        div.achievement {
            background: var(--g4-app-header-background);
            color: var(--g4-app-foreground);
            
            padding: 8px 16px;
            margin: 0px 8px 8px 8px;
            border-radius: 8px;

            display: flex;

            svg {
                width: 48px;
                height: 48px;

                margin-right: 16px;

                --svg-color-1: var(--g4-app-accent);
                --svg-color-2: var(--g4-app-foreground);
            }

            &.game svg {
                --svg-color-1: var(--g4-game-bullet);
                --svg-color-2: var(--g4-game-foreground);
            }

            div.info {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: center;

                p.name {
                    font-weight: 600;

                    margin: 0px;
                }

                p.description {
                    font-size: 11pt;

                    margin: 0px;
                }
            }
        }

        div.highScore {
            background: var(--g4-game-background);
            color: var(--g4-game-foreground);
            
            padding: 8px 16px;
            margin: 0px 8px 8px 8px;
            border-radius: 8px;

            box-shadow: inset 0px 0px 0px 1px var(--g4-game-foreground);

            display: flex;
            align-items: center;

            p {
                font-size: 12pt;
                font-weight: 600;
                text-transform: uppercase;

                margin: 0px;

                flex-grow: 1;

                span {
                    background: var(--g4-game-bullet);
                    color: var(--g4-game-background);

                    padding: 2px 8px;
                    border-radius: 16px;

                    display: inline-block;
                }
            }

            table {
                width: 200px;

                border-spacing: 0px;

                th {
                    font-weight: 400;
                    text-transform: uppercase;
                    text-align: left;
                }

                td {
                    width: 50%;

                    font-weight: 500;
                    font-size: 13pt;
                    line-height: 1;
                }
            }
        }
    }
}

body.left {
    aside {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: unset;
        width: 400px;

        transition: left 0.2s;

        & > header {
            flex-direction: row-reverse;
        }
    }

    aside.expanded {
        button.expander {    
            div:before {
                top: calc(50% + 4.5px);
            }

            div:after {
                top: calc(50% - 4.5px);
            }
        }
    }
    
    div.dialogContainer {
        left: 0;
        right: unset;
    }
    
    dialog {
        left: unset;
        right: 432px;

        transition: right 0.2s;

        &.open {
            left: unset;
            right: 0px;

            transition: right 0.2s;
        }
    }
}

@media (max-width: 768px) {
    aside {
        width: 100%;
        max-width: 400px;

        button.expander {
            display: block !important;
        }
    }

    aside:not(.expanded) {
        right: -100%;

        button.expander {
            position: fixed;
            top: 0;
            right: 0;
            height: 48px;

            div {
                position: relative;
                width: 20px;
                height: 2px;
                
                background: var(--g4-app-foreground);
            }

            div:before {
                position: absolute;
                left: 50%;
                top: -6px;
                width: 20px;
                height: 2px;
                
                background: var(--g4-app-foreground);
                content: "";

                transform: translate(-50%, -50%);
            }

            div:after {
                position: absolute;
                left: 50%;
                top: 8px;
                width: 20px;
                height: 2px;
                
                background: var(--g4-app-foreground);
                content: "";

                transform: translate(-50%, -50%);
            }
        }
    }

    body.left aside:not(.expanded) {
        left: -100%;

        button.expander {
            left: 0;
            right: unset;
        }
    }
}
